/* zerar margens e paddings */
*{
  margin: 0px;
  padding: 0px;
}
/* Semantics - Início*/
#header{
  margin: 5px 0 5px 0;
  padding: 10px 0 10px 10px;
  background-color: gold;
  border: 2px red solid;
}
#nav{
  margin: 5px 0 5px 0;
  padding: 10px 0 10px 10px;
  
  background-color: green;
  border: 2px red solid;
}
#main{
  margin: 5px 0 5px 0;
  padding: 30px 70px 30px 70px;
  background-color: gray;
  border: 2px red solid;
}
#aside{
  margin: 0px;
  padding: 10px 0 10px 10x;
  display: inline-block;
  width: 25%;
  height: 300px;
  background-color: rgb(231, 225, 225);
  border: 2px red solid;
}
#article{
  margin: 0px;
  padding: 10px 10px 10px 10px;
  display: inline-block;
  width: 60%;
  height: 300px;
  background-color: gold;
  border: 2px red solid;
}
#section{
  margin: 5px 0 5px 0;
  padding: 10px 0 10px 10px;
  background-color: blue;
  border: 2px red solid;
}
#footer{
  margin: 5px 0 5px 0;
  padding: 10px 0 10px 10x;
  background-color: greenyellow;
  border: 2px red solid;
}
/* Semantics - Fim*/
/* Menu - Início */
  #menuBar li{
    display: inline-block;
    margin: auto;
    width: auto;
  }
/* Menu - Fim */
/* h's - Início */
  h1{
    text-align: center;
  }
/* h's - Fim */
/* Links - Início */
a{
  font-size: 25px;
}
/* Links - Fim */