.super-mario {
  width: 200px;
  position: absolute;
  z-index: 1;
}

.goomba {
  width: 100px;
  position: absolute;
  margin-top: 300px;
  z-index: 2;
}

.baloon {
  position: absolute;
  margin-top: 450px;
  z-index: 3;
}

.speach {
  font-size: 25px;
  position: absolute;
  margin-top: 515px;
  margin-left: 22px;
  z-index: 4;
}

.bowser {
  width: 200px;
  position: absolute;
  margin-top: 630px;
  margin-left: 280px;
}